/*-- Bold 900 --*/
@font-face {
  font-family: 'Outfit-Black';
  src: url('font/Outfit-Black.eot');
  src: url('font/Outfit-Black.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Black.woff2') format('woff2'), 
       url('font/Outfit-Black.woff') format('woff'), 
       url('font/Outfit-Black.ttf')  format('truetype'),
       url('font/Outfit-Black.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-- Bold 800 --*/
@font-face {
  font-family: 'Outfit-ExraBold';
  src: url('font/Outfit-ExraBold.eot');
  src: url('font/Outfit-ExraBold.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-ExraBold.woff2') format('woff2'), 
       url('font/Outfit-ExraBold.woff') format('woff'), 
       url('font/Outfit-ExraBold.ttf')  format('truetype'),
       url('font/Outfit-ExraBold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- Bold 700 --*/
@font-face {
  font-family: 'Outfit-Bold';
  src: url('font/Outfit-Bold.eot');
  src: url('font/Outfit-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Bold.woff2') format('woff2'), 
       url('font/Outfit-Bold.woff') format('woff'), 
       url('font/Outfit-Bold.ttf')  format('truetype'),
       url('font/Outfit-Bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-- SemiBold 600 --*/
@font-face {
  font-family: 'Outfit-SemiBold';
  src: url('font/Outfit-SemiBold.eot');
  src: url('font/Outfit-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-SemiBold.woff2') format('woff2'), 
       url('font/Outfit-SemiBold.woff') format('woff'), 
       url('font/Outfit-SemiBold.ttf')  format('truetype'),
       url('font/Outfit-SemiBold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- Medium 500 --*/
@font-face {
  font-family: 'Outfit-Medium';
  src: url('font/Outfit-Medium.eot');
  src: url('font/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Medium.woff2') format('woff2'), 
       url('font/Outfit-Medium.woff') format('woff'), 
       url('font/Outfit-Medium.ttf')  format('truetype'),
       url('font/Outfit-Medium.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- Regular 400 --*/
@font-face {
  font-family: 'Outfit-Regular';
  src: url('font/Outfit-Regular.eot');
  src: url('font/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Regular.woff2') format('woff2'), 
       url('font/Outfit-Regular.woff') format('woff'), 
       url('font/Outfit-Regular.ttf')  format('truetype'),
       url('font/Outfit-Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}






/*-- Light 300 --*/
@font-face {
  font-family: 'Outfit-Light';
  src: url('font/Outfit-Light.eot');
  src: url('font/Outfit-Light.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Light.woff2') format('woff2'), 
       url('font/Outfit-Light.woff') format('woff'), 
       url('font/Outfit-Light.ttf')  format('truetype'),
       url('font/Outfit-Light.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- ExtraLight 200 --*/
@font-face {
  font-family: 'Outfit-ExraLight';
  src: url('font/Outfit-ExraLight.eot');
  src: url('font/Outfit-ExraLight.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-ExraLight.woff2') format('woff2'), 
       url('font/Outfit-ExraLight.woff') format('woff'), 
       url('font/Outfit-ExraLight.ttf')  format('truetype'),
       url('font/Outfit-ExraLight.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- Thin 100--*/
@font-face {
  font-family: 'Outfit-Thin';
  src: url('font/Outfit-Thin.eot');
  src: url('font/Outfit-Thin.eot?#iefix') format('embedded-opentype'),
       url('font/Outfit-Thin.woff2') format('woff2'), 
       url('font/Outfit-Thin.woff') format('woff'), 
       url('font/Outfit-Thin.ttf')  format('truetype'),
       url('font/Outfit-Thin.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}



html body{
  font-family:'Outfit-Regular' !important;
  color: #000;
}

li {
    list-style: none;
}

div a:hover {
    color: #6B1687;
}

div ol, div ul {
    padding-left: 0;
}

img {
  max-width: 100%;
}

div p {
  margin-bottom:0;
}

div a {
    color:#6B1687;
	text-decoration: none;
}

.log_in {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    transform: translate(-50%, -50% );
    top: 50%;
    max-width: 455px;
    left: 50%;
}
.log_in label {
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 28px;
    margin: 10px 0;
	position:relative;
}
.log_in label input {
    width: 100%;
    border: 0;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 27px;
    height: 52px;
    color: #7D7D7D;
    font-size: 16px;
    font-family: Outfit-Light;
}
.log_in label svg {
    position: absolute;
    right: 15px;
    top: 14px;
}
.log_in h2 {
    font-size: 30px;
    font-family: 'Outfit-Bold';
    margin: 30px 0;
}
.log_in button {
    width: 100%;
    border: 0;
    background: #6B1687;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
    border-radius: 38px;
    color: #fff;
    height: 51px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
	margin-top: 30px;
	font-family: 'Outfit-Regular';
}


/* dashboard Page css */
.dash_board #menu {
    width: 100%;
}

.dash_board  .left_bar li {
    width: 100%;
	list-style: none;
}

.dash_board .nav-item a {
    background-color: #6B1687;
    color: #fff;
}

.left_bar li a {
    padding: 14px 8px;
    color: #535353;
    font-size: 16px;
    transition: all .5s;
    font-family: 'Outfit-Regular';
    display: flex;
    align-items: center;
	text-transform: capitalize;
}

.dash_board .left_bar li a img {
    width: 22px;
    margin-right: 8px;
    transition: all .3s;
}

.dash_board .nav-pills .nav-link{
   border-radius:0;
}

.dash_head {
    background-color: #fff;
}

.left_bar {
    background-color: #fff;
}

.logo-site {
    border-bottom: 3px solid #f2f2f7;
    border-right: 3px solid #f2f2f7;
    padding: 12px;
}

.top_right_head a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.ico {
    display: flex;
    flex-flow: inherit;
}

.box_flex {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 20px;
    margin: 8px 0;
	width: 100%;
}

.box_flex h2 span {
    display: block;
    font-size: 16px;
    color: #535353;
    font-family: 'Outfit-Regular';
    padding-top: 8px;
}

.box_flex h2 {
    font-size: 25px;
    font-family: 'Outfit-SemiBold';
    margin-left: 12px;
    margin-bottom: 0;
}

.col.sec_cont {
    padding: 20px 40px;
}

.dash_board  .left_bar  li a:hover {
    background-color: #6b1687;
    color: #fff;
}

.dash_board .left_bar li a:hover img {
    filter: brightness(18.5);
}

div.event_list {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
}

.event_list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.event_list ul li {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Outfit-SemiBold';
    color: #000;
}

.event_list .text-end img {
    margin-left: 10px;
}

.up_event h2 {
    font-size: 18px;
    font-family: 'Outfit-SemiBold';
    margin-bottom: 12px;
}

.up_event {
    margin-top: 40px;
}

.sec_cont h1 {
    font-size: 20px;
    font-family: 'Outfit-Bold';
}

.top_right_head a img {
    margin-left: 5px;
}

.date_time {
    font-size: 15px;
    font-family: 'Outfit-SemiBold';
    color: #6B1687;
    margin: 6px 0;
}
.date_time img {
    vertical-align: sub;
    margin-left: 20px;
}

.date_time img:first-child {
    margin-left: 0;
}

.league span {
    margin-right: 5px;
    color: #000;
}

.league, .left_bar li {
    font-size: 16px;
    font-family: 'Outfit-SemiBold';
    text-transform: uppercase;
}

.league img {
    vertical-align: sub;
}

.G_ent::before, .O_ent::before, .B_ent::before {
    position: absolute;
    content: '';
    left: 0;
    width: 10px;
    height: 100%;
    top: 0;
    background-image: linear-gradient(#008d56, #73d45f);
}

.O_ent::before {
    background-image: linear-gradient(#FF6903, #FFB845);
}

.B_ent::before {
    background-image: linear-gradient(#1245A8, #3C91F4);
}

.dash_board .score {
    background-color: #4C4C4C;
    padding: 2px;
    color: #fff;
    font-size: 24px;
}

.recent-ev .date_time {
    color: #4C4C4C;
}

.recent-ev .date_time img {
    filter: grayscale(1);
}

.dash_board .score.no_bg {
    background-color: transparent;
    color: #000;
}

.up_event a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #6B1687;
}

.left_bar .left_fix {
    position: fixed;
}

.dash_board {
    padding-top: 67px;
	/*width: calc(100% - 30px);*/
}
a.btn {
    margin: 5px 6px !important;
}
.dash_head {
    position: fixed;
    width: 100%;
	z-index: 2;
}

.dash_board .nav-item a img {
    filter: brightness(18.5);
}

.left_bar {
    height: 100vh;
}

.left_bar .left_fix {
    background-color: #fff;
	z-index:1;
}

/*---------------------------- coach management -----------------------*/
/*---------------------------- ---------------- -----------------------*/
.head_top {
    margin: 12px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
}
.col.sec_cont table td:last-child {
    display: flex;
    padding: 30px 0px;
    align-items: center;
    height: 100%;
}
.coach-m {
    background-color: #fff;
    border-radius: 10px;
}

.head_top .btn {
    background-color: #6B1687;
    border-color: #6B1687;
    font-size: 16px;
    padding: 10px 20px;
}

.head_top .btn:hover, .head_top .btn:focus {
    background-color: #6B1687;
    border-color: #6B1687;
    box-shadow: none !important;
	    color: #fff;
}

.head_top h1 {
    margin-bottom: 0;
}

.head_top .dropdown-toggle::after {
    display: none;
}

.coach-m .table th, .coach-m .table td {
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
}

.coach-m .table th {
    color: #000;
}

.table_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}

.table_bottom .page-item a {
    padding: 2px 12px;
    border: 0;
    border-radius: 50%;
    color: #959595;
    font-size: 16px;
    line-height: 24px;
}

.coach-m .page-item {
    display: flex;
    margin: 0 2px;
}

.table_bottom .page-item.active a {
    background-color: #6b1687;
	color: #fff;
}

.coach-m .page-item:first-child .page-link {
	border-radius:4px;
}

.coach-m .page-item:last-child .page-link {
    transform: rotate(0deg);
    border-radius: 4px;
}

.table_bottom label {
    font-size: 16px;
    color: #535353;
}

.coach-m .table td {
    color: #4C4C4C;
}

.table_bottom select {
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    font-family: 'Outfit-Regular';
    margin-right: 10px;
	color: #535353;
	width: auto;
}

.head_top .dropdown li a {
    padding: 10px 15px;
    font-size: 16px;
    color: #535353;
    border-bottom: 1px solid #eee;
}

.head_top .dropdown li:last-child a {
    border-bottom: 0;
}

.head_top  .dropdown-menu.show {
    border: 0;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
    border-radius: 5px;
	position: relative;
	margin-top:10px !important;
}

.head_top .dropdown-menu.show::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: -5px;
    right: 13px;
}


.message ul li {
    position: relative;
    max-width: 325px;
    padding: 10px 0px !important;
    clear: both;
    display: inline-block;
    width: 100% !important;
}
.message ul li.msg-left .msg-desc {
    margin-left: 20px !important;
    font-size: 13px;
    background: #E8E8E8;
    padding: 9px 10px 15px !important;
	    height: 43px;
}
.message ul {
    padding: 10px 0px 80px !important;
    width: 100%;
}
.right-section-bottom input#message {
    border: 1px solid #aaa;
    margin-bottom: 16px;
    width: calc(100% - 130px) !important;
    background: transparent;
    color: #000;
    font-weight: 600;
}
.left-section ul {
    padding: 10px 0px !important;
}

.right-section-bottom input {
    border: 1px solid #aaa !important;
    padding: 10px 5px 10px 15px !important;
    width: calc(100% - 470px)!important;
    background: #6b1687;
    color: #fff;
}
.main-section h3, .main-section h5 {
    margin: 0px;
    font-size: 21px ;
    font-weight: 600;
}
.left-section ul li {
    padding: 10px 0px !important;
    cursor: pointer;
}

/*---------------------------- Add  coach-----------------------------*/
/*---------------------------- ---------------- -----------------------*/
div.sp_rd {
    border-radius: 10px;
    background-color: #fff;
    padding: 26px;
}

.user_img span {
    position: relative;
    background-color: #F4D1FF;
    color: #6B1687;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.user_img span input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    left: 0;
    cursor: pointer;
}

.add_coach label {
    display: block;
    font-size: 15px;
    color: #4C4C4C;
    margin-bottom: 5px;
	margin-top: 15px;
}

.add_coach .row {
    margin-bottom: 15px;
}

form input, form .sd, form select, form textarea {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    color: #535353;
    font-size: 15px;
}

.add_coach .sd {
    padding: 0;
    padding-right: 10px;
}

.head_top .back_btn {
    background-color: #F4D1FF;
    border-color: #F4D1FF;
    color: #6B1687;
    padding: 6px 22px;
}

.user_img img {
    margin-right: 22px;
    max-width: 110px;
    border-radius: 10px;
}
.coach-m.table-responsive td img {
    border-radius: 10px;
}

.user_img span img {
    margin-right: 10px;
}
.box-info img {
    margin-right: 10px;
}
.add_coach h4 {
    color: #4C4C4C;
    font-size: 16px;
    margin-bottom: 15px;
}

.tag.label.label-info {
    background-color: #F4D1FF;
    color: #6B1687;
    padding: 2px 12px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 8px;
}

.bootstrap-tagsinput {
    margin: 18px 0;
}

.sd img {
    position: absolute;
    top: 16px;
    right: 14px;
    background-color: #fff;
    width: 11px;
    pointer-events: none;
}

.add_coach select {
    border: 0;
}

form .sd {
    padding: 0;
    padding-right: 10px;
}

.sd select {
    border: 0;
}

.sd {
    position: relative;
}

.tag span {
    vertical-align: text-bottom;
    margin-left: 5px;
}

.add_coach select:focus {
    outline: none;
}

button.btn, a.btn {
    font-size: 16px;
    font-family: 'Outfit-Regular';
    padding: 8px 28px;
    border-radius: 8px;
    margin: 0 6px;
}

.btn.gry-btn {
    background-color: #E6E6E6;
    color: #4C4C4C;
}

.btn.drk-btn {
    background-color: #6B1687;
    color: #fff;
}
.btn.drk-btn:hover {
    background: transparent;
    color: #6B1687;
}


/*-------------------------------------- Modal design css ----------------------------*/
.cross_bi .btn-close {
    position: absolute;
    right: -9px;
    background-color: #fff;
    top: -10px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0 0 12px #ccc;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.modal-header.cross_bi {
    padding: 0;
    border: 0;
}

a.view-pr {
    float: right;
    color: #6B1687;
    font-size: 18px;
}

.modal-body .user_img {
    display: block;
}

/*-------------------------------------css coach profile -------------------------------*/

.user_img label {
    font-size: 20px;
    font-family: 'Outfit-Bold';
}

.user_img {
    display: flex;
    align-items: center;
}

.user_img label span {
    background-color: transparent;
    display: block;
    padding: 0;
    color: #535353;
    font-size: 16px;
    font-family: 'Outfit-Regular';
	display: flex;
}

.coach-pr h4{
    color: #4C4C4C;
    font-size: 16px;
    margin-bottom: 15px;
}

.coach-pr .nav-tabs .nav-link {
    color: #4C4C4C;
    padding: 12px 5px;
    font-size: 16px;
    margin-right: 26px;
}

.coach-pr .nav.nav-tabs {
    margin: 18px 0;
    margin-top: 10px;
}

.coach-pr .nav-tabs .nav-link.active {
    color: #6B1687;
    text-transform: capitalize;
    border: 0;
    border-bottom: 2px solid #6B1687;
    font-family: 'Outfit-SemiBold';
}

.coach-pr .tab-pane ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.coach-pr .tab-pane ul li {
    width: 33.333%;
    flex: 0 0 auto;
    padding: 7px 0;
    text-transform: capitalize;
    color: #4C4C4C;
    font-size: 16px;
    font-family: 'Outfit-Regular';
}

.coach-pr .tab-pane ul li img {
    margin-right: 10px;
}

.searc-btn img {
    position: absolute;
    left: 11px;
    top: 13px;
}

.searc-btn input {
    padding-left: 36px;
}

.searc-btn {
    position: relative;
}

.search_by {
    display: flex;
    align-items: center;
}

.search_by label {
    width: 100%;
    font-size: 15px;
    font-family: 'Outfit-SemiBold';
}

.add_coach.coa_pr {
    margin-bottom: 18px;
}

.add_coach .searc-btn,.search_by label {
    margin-bottom: 0;
}

.search_by label.sd {
    width: 100%;
    font-family: 'Outfit-Regular';
}

.box_cr {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 20px;
    margin: 8px 0;
    width: 100%;
}

.box_cr h2 span {
    display: block;
    font-size: 16px;
    color: #535353;
    font-family: 'Outfit-Regular';
    padding-top: 8px;
}

.box_cr h2 {
    font-size: 26px;
    font-family: 'Outfit-SemiBold';
    margin-left: 13px;
    margin-bottom: 0;
}

/*=============checkbox css =============*/
.tair {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tair input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mak {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

.tair:hover input ~ .mak {
  background-color: #ccc;
}

.tair input:checked ~ .mak {
    background-color: #6b1687;
}

.mak:after {
  content: "";
  position: absolute;
  display: none;
}

.tair input:checked ~ .mak:after {
  display: block;
}

.tair .mak:after {
    left: 9px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}/*==============================================*/


/*------------------- select players -----------------------------*/
.sel_plr ul {
    display: flex;
    flex-wrap: wrap;
}

.sel_plr ul li img {
    margin-right: 10px;
}

.sel_plr ul li {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Outfit-Regular';
    color: #4C4C4C;
    display: flex;
    justify-content: space-between;
}

.head-pl {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #eee;
}

.sp_rd.sel_plr {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sec_cont .head-pl {
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
}

.sel_plr .mak {
    background-color: transparent;
    border: 1px solid #E4E4E4;
}

.head-pl h2 {
    font-size: 20px;
    font-family: 'Outfit-Regular';
}

.head-pl div {
    display: flex;
    font-size: 20px;
}

.head-pl label.tair {
    margin-left: 10px;
}

/*--------------------- Event Management --------------------*/
label.event_type {
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 7%);
    border-radius: 8px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.event_type .mak {
    top: -12px;
    right: 0;
	left: inherit;
    border-radius: 50%;
}

.match_type .mak {
    text-align: center;
    padding: 8px 20px;
    width: 100%;
    font-size: 15px;
    height: auto;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    background-color: transparent;
    color: #000;
    position: relative;
    display: block;
}

label.tair.match_type {
    padding-left: 0;
}

.match_type .mak::after {
    border: 0;
}

.sd.dt input {
    border: 0;
}

.sd.dt img {
    width: 23px;
    top: 10px;
    right: 23px;
    pointer-events: none;
    cursor: pointer;
}

.event_type img {
    width: 43px;
}

.add_coach .sd.dt {
    padding-right: 0;
}

.match_type input:checked ~ .mak {
    color: #fff;
}

.dt input {
    cursor: pointer;
}


/*---------------------------------- Event management calender --------------------------*/
.ri-year {
    display: flex;
    align-items: center;
}
.fc-timegrid-body {
    width: 100% !important;
}
table {
    width: 100% !important;
}
.fc-scroller-harness.fc-scroller-harness-liquid {
    width: 100%;
}
table.fc-col-header th {
    padding: 26px 15px;
}
.add_coach thead {
    padding: 0px 35px;
}

.eve_mng .nuro {
    width: 50%;
    float: left;
    display: flex;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0 30px;
}
.eve_mng .nuro {
    width: 40%;
}
ul.nuro.justify-content-end {
    width: 60%;
}
.eve_mng .nuro:first-child {
    padding-right: 0px;
}
.eve_mng .nuro:last-child {
    padding-left: 0px;
}

.eve_mng .nuro:last-child {
    justify-content: end;
}

.eve_mng .nuro ul {
    display: flex;
    align-items: center;
}

.eve_mng .nuro ul li {
    background-color: #6b1687;
    border-radius: 6px;
    padding: 7px;
    margin: 0 5px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.eve_mng .nuro ul li:last-child{
    background-color: transparent;
}

.eve_mng .nuro ul li a {
    padding: 2px;
}

.eve_mng .nuro ul li a img {
    width: 26px;
}

.nuro label.sd {
    margin-bottom: 0;
    background-color: #F2F2F7;
    font-family: 'Outfit-Regular';
    color: #4C4C4C;
    font-size: 16px;
}

.nuro li.nav-item.dropdown {
    margin: 0 10px;
}

.eve_mng .nav-tabs  .nav-link.active {
    background-color: #6B1687;
    color: #fff;
    border-radius: 8px;
}

.eve_mng .nav-tabs .nav-link {
    font-size: 15px;
    color: #000;
    font-family: 'Outfit-Regular';
    padding: 6px 12px;
}

.ri-year .sd {
    width: auto;
}

.nuro .sd select, .nuro .sd img {
    background-color: transparent;
}

form .eve_mng {
    background-color: #fff;
    padding: 28px 0;
    border-radius: 10px;
}

.eve_mng .nuro li .dropdown-center button {
    background-color: #f2f2f7;
    border-color: #f2f2f7;
    color: #4C4C4C;
    font-size: 16px;
    border: 1px solid #E6E6E6;
}

.sd select:focus{
   outline: none;
}

.nuro .dropdown-toggle::after {
    right: -19px;
    position: relative;
    color: #d9d9d9;
    font-size: 21px;
    top: 3px;
    border-radius: 40%;
}

.eve_mng .nuro button.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

.nuro  .dropdown-menu.show {
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 0;
    padding: 6px 20px;
	margin-top: 8px !important;
}

.nuro .dropdown-menu.show a {
    text-transform: capitalize;
    font-family: 'Outfit-Regular';
    padding: 6px 0;
}

.nuro .dropdown-menu.show::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: -5px;
    right: 13px;
}


.eve_mng .nuro.grd ul li:first-child {
    background-color: transparent;
}

.eve_mng .nuro.grd ul li:first-child img {
    filter: brightness(0.5);
}

.eve_mng .nuro.grd ul li:last-child {
    background-color: #6b1687;
}

.eve_mng .nuro.grd ul li:last-child img {
    filter: brightness(1.5);
}

div.date_mt {
    background-color: #fff;
    padding: 14px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #eee;
    font-size: 25px;
    font-family: 'Outfit-SemiBold';
}


form .grid-view {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.date_mt span {
    font-family: 'Outfit-light';
    font-size: 28px;
}

.box-info {
    flex-flow: column;
    align-items: baseline;
}

.box-info label {
    padding: 5px 0;
    cursor: pointer;
}
.box_cr img {
    margin-right: 10px;
}
.brand_logo {
    text-align: center;
    padding: 30px 0;
}

.brand_logo h3 {
    font-size: 16px;
    font-family: 'Outfit-SemiBold';
    margin-top: 12px;
    margin-bottom: 3px;
}

.brand_logo p {
    font-size: 14px;
    color: #4C4C4C;
}

/*---------------------------------------- modal design -----------------------------*/

.vs_mtc ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.vs_mtc ul li {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Outfit-SemiBold';
}

div .vs_mtc {
    margin: 20px 0;
    align-items: center;
}

.league-details h4 {
    font-size: 16px;
    font-family: 'Outfit-SemiBold';
}

.league-details p {
    text-transform: capitalize;
    color: #4C4C4C;
    margin-top: 12px;
}

.league-details label {
    font-size: 18px;
    color: #000;
}

.league-details label a {
    font-size: 14px;
}

.league-details label img {
    vertical-align: sub;
}

.sor_ting button {
    background-color: #3C3C3C;
    color: #fff;
    border-radius: 6px;
    padding: 6px 15px;
	border:0;
}

.sor_ting button img {
    margin-right: 5px;
    vertical-align: baseline;
}

.sor_ting {
    padding: 10px;
    background-color: #F5F5F5;
    margin: 16px 0;
}

.sor_ting h2 {
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Outfit-SemiBold';
}

.plyr-dtl ul li {
    width: 33.333%;
    padding: 4px 0;
}

.plyr-dtl ul {
    display: flex;
    flex-wrap: wrap;
}

.plyr-dtl ul li img {
    margin-right: 10px;
}

.plyr-dtl ul li span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
}

.coach-pr.grp-d .row {
    align-items: center;
}
body {
    margin: 0px 0px !important;
}

/*------------------- Contact Page ---------------------------*/
.con-us .tair {
    font-size: 14px;
    color: #4C4C4C;
}

.con-us .tair span {
    display: block;
}

.con-us .tair .mak {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
}

.con-us .tair .mak::after {
    border-width: 6px;
    left: 3px;
    top: 3px;
    border-radius: 50%;
}

.con-us label {
    margin-bottom: 8px;
}

.coach-m .table td a {
    margin: 0 4px;
}

.top_right_head ul {
    padding: 15px 0px;
}

.top_right_head li {
    padding: 14px 0;
    display: flex;
}

.top_right_head li img {
    margin-right: 10px;
}

.top_right_head li h3 {
    font-size: 16px;
    font-family: 'Outfit-SemiBold';
	margin-bottom:0;
}

.top_right_head li p {
    font-size: 14px;
    color: #4C4C4C;
}

.top_right_head li span {
    display: block;
    font-size: 10px;
    color: #A3A3A3;
}

.top_right_head li:last-child {
    justify-content: center;
}

.top_right_head li:last-child a {
    color: #6B1687;
}
.col.sec_cont table td {
	vertical-align: top;
}

.main-section {
    max-width: 960px !important;
    background-color: #fff;
    width: 100%!important;
    margin: 24px auto !important;
}

@media screen and (min-width: 1340px) {
.box_flex {
    padding: 24px;
}
.dash_board .left_bar li a {
    padding: 12px 20px;
}
}
@media screen and (max-width:1280px){
	.main-section h3, .main-section h5 {
		font-size: 18px;
	}
	.left-section ul li {
		padding: 6px 0px !important;
	}
	.main-section {
		max-width: 478px !important;
	}
	.right-section {
		width: 65%;
	}
	.left-section {
		width: calc(35% - 1px);
	}
	.right-section-bottom input {
		padding: 4px 5px 4px 10px !important;
		width: 100%!important;
	}
	.right-section-bottom input#message {
		width: 100% !important;
	}
	.message ul li.msg-left .msg-desc {
		margin-left: 5px !important;
		padding: 9px 10px 15px !important;
		height: 30px;
	}
}

@media screen and (max-width:1199px){
	.col.sec_cont table td:last-child {
		padding-right: 25px;
	}
}

@media screen and (min-width: 768px) {
	.left_bar .left_fix {
		width: 25%;
	}
	.sel_plr ul li:nth-child(odd) {
		padding-right: 30px;
	}
	.up-coming_ev ul {
		max-width: 60%;
		margin: auto;
	}
	.ri-year label.sd {
		margin: 0 10px;
	}

}

@media screen and (min-width: 1200px) {
.left_bar .left_fix {
    width: 16.66666667%;
}
.coach-m .table th, .coach-m .table td {
    padding: 12px;
    font-size: 15px;
}
}

@media screen and (max-width:768px){
	.col.sec_cont table td:last-child {
		padding-right: 0;
		max-width: 100%;
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 991px) {
.eve_mng .nuro {
    width: 100%;
    margin-bottom: 15px;
	padding: 0 15px;
}
.head_top.plr {
    display: block;
}
.head_top.plr h1 {
    margin-bottom: 10px;
}
}


@media screen and (max-width: 991px) {
.coach-m .table td a img {
    width: 22px;
}

.coach-pr .tab-pane ul li {
    width: 50%;
}

.search_by {
    margin: 20px 0 0;
}

.add_coach div {
    margin-bottom: 14px;
}

.add_coach div:last-child {
    margin-bottom: 0;
}

}
.searc-btn input {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 10px 20px 10px 35px;
    width: 100%;
    color: #535353;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
.col-auto.left_bar {
    width: 240px;
}
table.fc-col-header {
    width: 100% !important;
	background:#fff;
}
table.fc-col-header th a {
    font-size: 12px !important;
}
.user_img img {
    margin-right: 0;
    display: block;
    margin: auto;
}
.user_img span {
    display: flex;
    margin: 16px 0;
    text-align: center;
    justify-content: center;
}
.user_img span img {
    margin: 0;
}
.coach-pr .tab-pane ul li {
    width: 100%;
}
.user_img label {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
}

.box_cr {
    display: block;
    text-align: center;
}

.box_cr {
    margin: 10px 0;
}

.sel_plr ul li {
    width: 100%;
}

.user_img {
    display: block;
}
.user_img label span img {
    margin-right: 10px !important;
}
.box-info label {
    max-width: 125px !important;
    margin: 0px auto !important;
	width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 125px!important;
    margin: 0px auto!important;
}
.box-info label span {
    width: 70% !important;
}
.text-end {
    display: flex;
    justify-content: center;
}
.dash_head .text-end {
    text-align: right!important;
    justify-content: right;
}
.dash_head .dropdown {
    display: flex;
    align-items: center;
}

}


@media screen and (max-width: 575px) {
.col.sec_cont {
    padding: 20px;
}
.col-auto.left_bar {
    width: 50px;
}
}
form input, form .sd, form select, form textarea {
    margin: 0;
}
label.tair.match_type {
    margin: 0;
}
.box_flex img {
    width: 50px;
}
.col-md-12.text-end {
    margin-top: 20px;
}
.box_flex h2 {
    font-size: 22px;
}
.box_flex h2 span {
    padding-top: 4px;
}
.logo-site {
    border-bottom: 0;
}
.top_right_head a {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.table_bottom, .head_top {
    flex-flow: column;
}
.col.sec_cont .table_bottom, .head_top {
    flex-flow: wrap;
}
.table_bottom label, .head_top h1 {
    margin: 10px 0;
}

.add_coach .text-end {
    display: flex;
    padding: 0;
}

.add_coach .row {
    margin-bottom: 0;
}
.sp_rd.add_coach .col-md-6 {
    margin: 0;
}
.add_coach  {
    margin-bottom: 10px;
	align-items: flex-end !important;
}
.modal div.sp_rd {
    padding: 15px;
}

.modal div.sp_rd {
    padding: 0;
}

.coach-pr .nav.nav-tabs {
    margin-top: 0;
}

.search_by {
    display: block;
}

div.sp_rd {
    padding: 18px;
}

.sec_cont .head-pl {
    padding: 10px;
}

.head-pl h2 {
    font-size: 16px;
}

label.event_type {
    margin-bottom: 20px;
}
ul.nuro.justify-content-end li {
    margin: 10px ;
}

.nuro li.nav-item.dropdown {
    margin: 0;
}

.eve_mng .nuro ul {
    justify-content: space-between;
}

.eve_mng .nuro li .dropdown-center button {
    margin: 0;
	width: 100%;
}

.nuro li.nav-item.dropdown select {
    text-align: center;
}

.nuro .dropdown-toggle::after {
    right: -16px;
    font-size: 26px;
}

/*.ri-year {
    display: block;
}
*/
 .head_top .btn {
    font-size: 13px !important;
}
ul.nuro.justify-content-end {
    align-items: center;
}
.ri-year a.btn.drk-btn, .ri-year label.sd {
    width: 100%;
    margin: 10px 0;
}

.box_cr h2 {
    margin-left: 0;
}

.vs_mtc ul {
    text-align: center;
}

.plyr-dtl ul li {
    width: 100%;
}
.col-auto.col-md-3.col-xl-2.logo-site {
    width: 60%;
}
.main-section {
    max-width: 300px !important;
}
.main-section h3, .main-section h5 {
    font-size: 14px;
}
}

/****************************************sanjeev css-----------------*/
.add_coach  {
	align-items: flex-end !important;
}
.add_coach .dropdown a {
    margin: 0 6px !important;
}
.text-end a.btn {
    margin: 0px 6px !important;
}
@media(max-width:767px)
{
	.col.sec_cont table td:last-child {
    padding-left: 20px;
	font-size: 14px;
}
.col.sec_cont th:nth-last-child(1) {
    padding-left: 20px !Important;
}
.col.sec_cont tr:nth-last-child(1) {
    margin-top: 20px !Important;
}
.log_in {
    max-width: 100%;
    width: 90%;
}
.ri-year {
    flex-wrap: wrap;
}
ul.nuro.justify-content-end {
	display:block;
}
ul.nuro.justify-content-end li {
    margin: 10px 0 !important;
}
.club-body {
    width: calc(100% - 250px) !important;
}
table.fc-col-header {
    width: auto !important;
}
table.fc-scrollgrid.fc-scrollgrid-liquid {
    width: auto !important;
}
}
@media (min-width:576px) and (max-width:670px)
{
	.left_bar .left_fix {
    position: fixed;
    width: 240px;
}
}
@media (min-width:671px) and (max-width:767px)
{
	.left_bar .left_fix {
    position: fixed;
    width: 28%;
}
}
@media (max-width:575px)
{
	.left_bar .left_fix {
    width: 50px;
}
table {
    width: 575px !important;
}
}
table.fc-col-header {
    width: 100% !important;
}
table.fc-scrollgrid.fc-scrollgrid-liquid {
    width: 100%;
}

.main-of-head {
    justify-content: flex-end;
}
